@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ol>
        <li>We collect personal details like name, email, contact, employment history, education, and job preferences to facilitate job matching.</li>
        <li>Your information is used solely for job matching, personalized recommendations, and communication regarding job openings.</li>
        <li>We employ strict security measures to protect your information from unauthorized access or misuse.</li>
        <li>Your data is not shared with third parties without your consent, except where required by law or for job application purposes.</li>
        <li>We are not responsible for the privacy practices of third-party websites linked to our job portal.</li>
        <li>Our services are not intended for users under the age of 13, and we do not knowingly collect their personal information.</li>
        <li>We reserve the right to update our privacy policy, with any changes being effective immediately upon posting.</li>
        <li>For any inquiries or concerns about our privacy policy, please contact us at +977 9864835552.</li>
    </ol>
</div>
